[Unit]
Description=Arbalet data bus proxy

[Service]
Type=simple
ExecStart=/usr/bin/nohup /usr/bin/python -m arbalet.dbus.proxy
StandardOutput=journal
KillSignal=SIGINT
SuccessExitStatus=SIGINT
ProtectSystem=full
ProtectHome=read-only

[Install]
WantedBy=multi-user.target

# Keep a new line at EOF


